
#copy, #join{
    align-items: center;
    margin: 20px;
    left: 50;
}
#video-grid{
         display: inline-flex;
         justify-content: center;
         flex-wrap: wrap;
         height: 450px;
         width: 400px;
         margin: 10%;
      }
video{
         height:410px;
         width: 390px;
         object-fit: cover;
         padding: 8px;
         border-radius: 25px;
      }
header{
  position:fixed;
}
#right{
  margin-top: 50px;
}