.main {
    height: 100vh;
    display: flex;
    background-color: black;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2
    
}

.main__right__render {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.main__videos {
    flex-grow: 1;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #1C1E20;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    padding: 5px;
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    height: 60px;
    
}

.main__right {
    background-color: white;
    border-left: 1px solid #3D3D42;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    font-size:large;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    color:black;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: black;
    list-style: none;
    padding-left: 0px;
   
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
    position: fixed;
    bottom: 0px;
    
}
#messages-card-container {
    height: 90%;
    padding-bottom: 0;
    display: inline;
    width: 90%;
    margin-left:30px;
  }
#messages{
    height:600px;
    margin-top: 0px;
    
}
input {
    flex-grow: 1;
    background-color: white;
    border: none;
    color: black;
    margin-bottom: 0px;

}


.unmute, .stop,.leave_meeting {
    color: #CC3B33;
}
.screen-full {
    flex: 1 !important;
}

.screen-hide {
    display: none !important;
}

.active-btn {
    color:#0096FF;
}
#self{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#screenShareReminder{
    background-color: #3c4043;
    border-radius: 8px;
    color: #fff;
    height: 40px;
    margin: 16px 16px 0;
    padding: 0px 16px;
    justify-content: space-between;
    font-size: 18px;
    display: inline-flex;
}
#altStop{
padding:0px 15px;
}
#altStop:hover {
    background-color: #343434;
    border-radius: 5px;
    cursor: pointer;
    
}

.dropdown-toggle::after {
    content: none;
}

.invisible{
    visibility: hidden;
}
#video-grid{
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
      }
video{
    
    object-fit: cover;
    padding: 8px;
    border-radius: 25px;
}