.u-section-1 {
  background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3rem;
  line-height: 1;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin: 86px 782px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 760px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 38px auto 0 0;
  padding: 2px 23px 3px 21px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 16px auto 0 0;
  padding: 2px 23px 4px 21px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 60px 0;
  padding: 2px 38px 3px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 560px;
  }

  .u-section-1 .u-btn-1 {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 182px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}
  .u-footer{
    bottom:0px;
    background-attachment: fixed;
  }
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

